/*
Error: Invalid CSS after "..."config/config"": expected "{", was ";"
        on line 7 of ./css/main.scss

2: # Only the main Sass file needs front matter (the dashes are enough)
3: ---
4: 
5: 
6: // Import partials from `sass_dir` (defaults to `_sass`)
7: @import "config/config";
8: @import "base/base";
9: @import "layout/layout";
10: @import "modules/modules";
11: @import "syntax-highlighting";

Backtrace:
./css/main.scss:7
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/scss/parser.rb:1164:in `expected'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/scss/parser.rb:1098:in `expected'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/scss/parser.rb:1093:in `tok!'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/scss/parser.rb:638:in `block'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/scss/parser.rb:633:in `ruleset'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/scss/parser.rb:657:in `block_child'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/scss/parser.rb:647:in `block_contents'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/scss/parser.rb:117:in `stylesheet'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/scss/parser.rb:42:in `parse'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/engine.rb:393:in `_to_tree'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `each'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:328:in `block in watch'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...\"config/config\"\": expected \"{\", was \";\"\A         on line 7 of ./css/main.scss\A \A 2: # Only the main Sass file needs front matter (the dashes are enough)\A 3: ---\A 4: \A 5: \A 6: // Import partials from `sass_dir` (defaults to `_sass`)\A 7: @import \"config/config\";\A 8: @import \"base/base\";\A 9: @import \"layout/layout\";\A 10: @import \"modules/modules\";\A 11: @import \"syntax-highlighting\";"; }
