
/**
 * Page heading
 */
.page-heading {
    margin-top:-10px;
    margin-bottom: 25px;
    font-size: em(60px);
    visibility: hidden;
    strong{
        font-weight: 700;
        color:black;
        // background-image: gradient(linear,0% 0%,25% 100%,from(#ff2c2c),to(#7a5e91));
        // background-clip: text;
        // text-fill-color: transparent;
    }
}


.site-title {
    font-size: em(60px);
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    text-align:center;
}

.site-img{
    margin-top:20px;
    margin-left: 35%;
    width:400px;
    height:200px;
}


.site-nav {
    float: right;
    line-height: 56px;
    .menu-icon {
        display: none;
    }
    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }
    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Page content
 */
.page-content {
    position:relative;
    margin-top: 35px;
    margin-right:auto;
    margin-left:auto;
    padding: $spacing-unit 0;
    width:90%;
}

/**
 * Wrappers
 */
.page-wrapper {
    display: flex;
    flex-wrap: wrap;
    // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    // max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    width:100%;
    @extend %clearfix;
    @include media-que($on-laptop) {
        width:95%;
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


/**
 * Page image
 */
.page-img{
    margin-right:auto;
    margin-left:auto;
    width:em(400px);
    height:em(400px);
    border-radius:50%;
    .j-img{
        margin-top: 100px;
        margin-right:auto;
        margin-left:auto;
        width:em(0px);
        height:em(0px);
        background:url("../images/j.jpg");
        background-repeat:no-repeat;
        background-size:contain;
        border-radius:50%;
    }
}

/**
 * Page intro
 */
.page-intro{
    visibility: hidden;
    margin-right: auto;
    margin-left:auto;
    padding-left:20px;
    width: 90%;
    @include media-que($on-laptop) {
        width:60%;
    }
}

.page-text{
    font-size: em(25px);
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}
